<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'ajout de livre</title>
</head>
<body>

    <h2>Formulaire d'ajout de livre</h2>
    <form action="/books" method="post">

        <label for="titre">Titre du livre :</label><br>
        <input type="text" id="titre" name="title"><br>
        <input type="submit" value="Ajouter livre">

    </form>

</body>
</html>
